@font-face {
    font-family: 'Geist';
    src: url('fonts/Geist/Geist-UltraLight.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('fonts/Geist/Geist-Bold.otf') format('truetype');
    font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    line-height: 1.6;
}

p {
    max-width: 80ch;
    text-wrap: pretty; /* Prevent any orphans from text wrapping */
}

:root {
    --gray: hsla(0,0%,100%,0.5);
    --line: #4c515a;
    --bg: #121212;
    --fg: #d9d9d9;
    --link: #bb86fc;
    --purple: #bb86fc;
    --clr-border: #2f3943;
}

body {
    font-family: 'Geist';
    font-size: 100%; /* https://adrianroselli.com/2024/03/the-ultimate-ideal-bestest-base-font-size-that-everyone-is-keeping-a-secret-especially-chet.html */
    min-height: 100vh;
    margin: 10px auto;
    max-width: 50rem;
    color: var(--fg);
    background: var(--bg);
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 1rem;
}

main {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 0.5rem;

    @media (max-width: 40rem) {
        grid-template-columns: repeat(2, 1fr);
    }

    & a {
        text-decoration: none; /* Removes the underline */

        &:hover {
            color: var(--gray);
        }
    }
}

h1 {
    color: var(--gray);
    font-weight: bold;
    font-size: medium;
}

h2 {
    font-weight: bold;
    font-size: medium;
}

h3 {
    display: inline-block;
    border-bottom: 1px solid var(--purple);
    text-decoration: none; /* Removes the underline */
    font-weight: bold;
    font-size: 0.8rem;
}

a {
    color: var(--fg);
    text-decoration: underline; /* Removes the underline */
    text-decoration-color: var(--line); /* Change 'blue' to your desired color */

    &:hover {
        color: var(--gray);
        text-decoration-color: var(--line); /* Change 'blue' to your desired color */
    }
}

footer {
    margin-top: auto;

    & hr {
        margin-bottom: 1em;
        border-color: var(--line);
        border-top-width: 0.1px;
    }
}

.connect {
    display: flex;
    justify-content: space-between;

    & span {
        color: var(--gray);
        font-size: 16px;
        padding: 4px;
    }
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.img-nostr {
    filter: grayscale(100%) brightness(250%) contrast(120%);
}

.img-github {
    filter: grayscale(100%) brightness(400%) contrast(120%);
}

.blog {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
